.model-in {
    width: 500px;
    padding: auto;
    margin: auto;
    margin-top: 12%;
    border: 2px solid black;
    background-color: antiquewhite;
    border-radius: 6px;

}
.model-out{
    border: 2px solid black;
    height: 100vh;
    background-color: bisque;
}
.exit {
    border-radius: 8px;
    margin-left: 0;
}


.form3 {
    display: flex; /* Use a flex container to arrange items side by side */
    flex-direction: row;
    justify-content: space-evenly; /* Distribute items evenly along the horizontal axis */
  }
  
  
  
  ul {
    list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  li {
    display: flex; /* Use flexbox to make list items horizontal */
    align-items: center; /* Center items vertically within the list item */
    justify-content: space-evenly; /* Add space between items */
    padding: 10px; /* Add some padding for spacing */
    border: 1px solid black; /* Add a border to separate items */
    border-radius: 10px; /* Add rounded corners */
  }
  .size {
    width: 10px;
    margin-left: 50px;
    margin-right: 30px;
  }
  
  /* Adjust the width of your items to control their layout */
  .item {
    flex: 1; /* Allow items to take up an equal amount of space */
    /* Other styling properties like text-align, font-size, etc. */
  }
  